/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* MIS ESTILOS */
body {
    background-color: lightgray;
}

.main-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.main-content-internal {
    background-color: #1b6bc0;
    max-width: 900px;
    min-height: 500px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.todo-header {
    background-color: mediumseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.todo-content-box {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.todo-add {
    background-color: mediumseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


.todo-input-search {
    width: 100%;
}

.todo-add-input-content {
    width: 100%;
}

.todo-add-button,
.todo-add-content,
.todo-add-button-div,
.todo-search {
    width: 100%;
}

.todo-add-title,
.todo-title {
    margin-bottom: 10px;
}

h1{
    font-size: xx-large;
}

.todo-content-buttons {
    margin-left: auto;
}